.react-datepicker {
  font-family: "CircularStd-Book", sans-serif;
  font-size: 16px;
  position: absolute;
  top: 55px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  margin-left: 75px;
  margin-top: 30px;
}

.react-datepicker__header {
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
  padding: 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.react-datepicker__header .react-datepicker__current-month {
  font-weight: 700;
  margin-bottom: 10px;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  font-size: 12px;
  color: #b0b0b0;
}

.react-datepicker__day-name {
  width: 30px;
  text-align: center;
  text-transform: uppercase;
}

.react-datepicker__month {
  margin: 0;
  padding: 0;
  list-style: none;
}

.react-datepicker__week :first-child {
  color: red;
}

.react-datepicker__week :last-child {
  color: blue;
}

.react-datepicker__day {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.react-datepicker__day:hover {
  background-color: #f2f2f2;
}

.react-datepicker__day--selected {
  background-color: #008489;
  color: #ffffff;
}

.react-datepicker__day--today {
  font-weight: 700;
}

.react-datepicker__day--outside-month {
  color: #d8d8d8 !important;
  cursor: default;
}

.react-datepicker__navigation--previous {
  margin-top: 13px;
}

.react-datepicker__navigation--next {
  margin-top: 13px;
}
